[Unit]
Description=mqtt-blink1
Documentation=https://github.com/suhlig/mqtt-disarm
After=network-online.target

[Service]
ExecStart={{ app_dir }}/bin/mqtt-blink1   \
            --mqtt {{ mqtt_disarm_mqtt_url }}     \
            --topic {{ mqtt_disarm_blink1_topic }}  \
            --verbose \
            --verbose \
            --verbose \
            --verbose
Type=simple
Restart=on-failure
# TODO User=mqtt-disarm
# TODO Group=mqtt-disarm

[Install]
WantedBy=default.target
Alias=mqtt-blink1.service
