[Unit]
Description=mqtt-blink1
Documentation=https://github.com/uhlig-it/shop-alarm
After=network-online.target

[Service]
ExecStart={{ app_dir }}/bin/mqtt-blink1 \
            --mqtt {{ shopalarm_mqtt_url }} \
            --topic {{ blink1_mqtt_topic }} \
            --verbose \
            --verbose
Type=simple
Restart=on-failure
# TODO User=mqtt-disarm
# TODO Group=mqtt-disarm

[Install]
WantedBy=default.target
Alias=mqtt-blink1.service
