[Unit]
Description=mqtt-disarm
Documentation=https://github.com/suhlig/mqtt-disarm
After=network-online.target

[Service]
ExecStart=/opt/mqtt-disarm/bin/mqtt-disarm   \
            --mqtt {{ mqtt_disarm_mqtt_url }}     \
            --motion {{ mqtt_disarm_motion_url }}     \
            --keyboard-topic {{ mqtt_disarm_keyboard_topic }}  \
            --code {{ mqtt_disarm_code }}  \
            --status-topic {{ mqtt_disarm_status_topic }}  \
            --verbose
Type=simple
Restart=on-failure
# TODO User=mqtt-disarm
# TODO Group=mqtt-disarm

[Install]
WantedBy=default.target
Alias=mqtt-disarm.service
