[defaults]
remote_user = pi
inventory = inventory.yml
deprecation_warnings = false
vault_password_file = .vault-password

# https://www.jeffgeerling.com/blog/2018/use-ansibles-yaml-callback-plugin-better-cli-experience
stdout_callback = yaml
bin_ansible_callbacks = True
