[Unit]
Description=mqtt-lock
Documentation=https://github.com/uhlig-it/shop-alarm
After=network-online.target

[Service]
ExecStart={{ app_dir }}/bin/mqtt-lock \
            --code {{ lock_code }} \
            --mqtt {{ shopalarm_mqtt_url }} \
            --topic {{ lock_mqtt_topic }} \
            --verbose \
            --verbose
Type=simple
Restart=on-failure

[Install]
WantedBy=default.target
Alias=mqtt-lock.service
