[Unit]
Description=mqtt-lock
Documentation=https://github.com/uhlig-it/shop-alarm
After=network-online.target

[Service]
WorkingDirectory={{ ansistrano_release_path.stdout }}
ExecStart={{ ansistrano_release_path.stdout }}/bin/mqtt-lock \
            --code {{ shopalarm_lock_code }} \
            --mqtt {{ shopalarm_mqtt_url }} \
            --command-topic {{ lock_mqtt_command_topic }} \
            --status-topic {{ lock_mqtt_status_topic }} \
            --verbose \
            --verbose \
            --verbose \
            --verbose
Type=simple
Restart=on-failure

[Install]
WantedBy=default.target
Alias=mqtt-lock.service
