[Unit]
Description=mqtt-keyboard
Documentation=https://github.com/suhlig/mqtt-disarm
After=network-online.target

[Service]
ExecStart={{ app_dir }}/bin/mqtt-keyboard \
            --device {{ mqtt_keyboard_device }} \
            --timeout {{ mqtt_keyboard_timeout }} \
            --mqtt {{ mqtt_keyboard_mqtt_url }} \
            --topic {{ mqtt_keyboard_mqtt_topic }} \
            --verbose \
            --verbose \
            --verbose \
            --verbose
Type=simple
Restart=on-failure
# TODO User=mqtt-disarm
# TODO Group=mqtt-disarm

[Install]
WantedBy=default.target
Alias=mqtt-keyboard.service
