[Unit]
Description=mqtt-keyboard
Documentation=https://github.com/uhlig-it/shop-alarm
After=network-online.target

[Service]
ExecStart={{ app_dir }}/bin/mqtt-keyboard \
            --device {{ keyboard_device }} \
            --timeout {{ keyboard_timeout }} \
            --mqtt {{ shopalarm_mqtt_url }} \
            --topic {{ keyboard_mqtt_topic }} \
            --verbose \
            --verbose
Type=simple
Restart=on-failure
# TODO User=mqtt-disarm
# TODO Group=mqtt-disarm

[Install]
WantedBy=default.target
Alias=mqtt-keyboard.service
