[Unit]
Description=mqtt-pir
Documentation=https://github.com/uhlig-it/shop-alarm
After=network-online.target

[Service]
ExecStart={{ app_dir }}/bin/mqtt-pir \
            --mqtt {{ shopalarm_mqtt_url }} \
            --topic {{ pir_mqtt_topic }} \
            --gpio {{ pir_gpio }} \
            --verbose \
            --verbose
Type=simple
Restart=on-failure

[Install]
WantedBy=default.target
Alias=mqtt-pir.service
