[Unit]
Description=mqtt-pir
Documentation=https://github.com/suhlig/mqtt-disarm
After=network-online.target

[Service]
ExecStart={{ app_dir }}/bin/mqtt-pir \
            --mqtt {{ mqtt_pir_mqtt_url }} \
            --topic {{ mqtt_pir_mqtt_topic }} \
            --gpio {{ mqtt_pir_gpio }} \
            --verbose \
            --verbose \
            --verbose
Type=simple
Restart=on-failure
# TODO User=mqtt-disarm
# TODO Group=mqtt-disarm

[Install]
WantedBy=default.target
Alias=mqtt-pir.service
