#!/bin/bash

set -euo pipefail
IFS=$'\n\t'

# This script is called via SSH when the iPhone scans a particular NFC tag.
# It publishes a 'scanned' event to MQTT with tag and user-agent passed as positional arguments to this script.

tag_name="${1:?Missing tag name. Needs to be the first argument.}"
user_agent="${2:?Missing user agent. Needs to be the second argument.}"

mosquitto_pub \
  {% if 'mqtts' in shopalarm_mqtt_url %}--capath /etc/ssl/certs{% endif %} \
  --url "{{ shopalarm_mqtt_url }}/{{ nfc_mqtt_topic }}" \
  --message "$(envsubst <<EOM
  {
    "scanned": {
      "tag": "$tag_name",
      "user-agent": "$user_agent"
    }
  }
EOM
)"
